.header {
  height: 300px;
  width: 1000px;

  margin: 40px auto 20px auto;
  color: black;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: green;
  background-position: center;
  background-size: cover;
}

.main {
  height: 1000px;
  width: 1000px;

  margin: 30px auto 20px auto;
  padding: 20px;
  color: black;

  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main h2 {
  text-align: center;
}

.info {
  background-color: green;
  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 50px;
}

.goals {
  background-color: red;
  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

.rules {
  background-color: black;
  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.card__noeul {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 50px;
  bottom: 50px;
  cursor: pointer;
}

.card__junseong {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 200px;
  bottom: 300px;
  cursor: pointer;
}

.card__mindo {
  background-color: green;
  width: 200px;
  position: absolute;
  right: 200px;
  bottom: 300px;
  cursor: pointer;
}

.card__jooun {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 40%;
  bottom: 50px;
  cursor: pointer;
}

.card__soowon {
  background-color: green;
  width: 200px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.card__header img {
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.05);
  width: 200px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main h2 {
  text-align: center;
}

.info {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 50px;
}

.info_head {
  text-align: center;
}

.info_p {
  margin: 1;
  text-align: center;
}

.goals {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

.goals_head {
  text-align: center;
}

.goals_li {
  margin-bottom: 10px;
}

.rules {
  width: 270px;
  height: 400px;
  position: absolute;
  top: 100px;
  right: 50px;
}

.rules_head {
  text-align: center;
}

.rules_li {
  margin-bottom: 10px;
}


.rules {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

  width: 270px;
  height: 400px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.card__noeul {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.card__junseong {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.card__mindo {
  background-color: green;
  width: 200px;
  position: absolute;
  right: 200px;
  bottom: 300px;
}

.card__jooun {
  background-color: green;
  width: 200px;
  position: absolute;
  left: 40%;
  bottom: 50px;
}

.card__soowon {
  background-color: green;
  width: 200px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.card__header img {
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.05);
  width: 200px;
  position: relative;
}

.card__header figcaption {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.textid {
  width: 1000px;
  margin: 20px auto 20px auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.secondbox {
  width: 1000px;
  margin: 20px auto 20px auto;

  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.card-body {
  width: 900px;
}

.secondboxbtn {
  padding: 50px;
}

.card-body>button {
  margin-right: 5px;
}

.title {
  margin-bottom: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.팀원명박스 {
  width: 1000px;
  margin: 5px auto 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 아이템들을 세로 가운데 정렬 */
  position: relative;
}

.팀원명 {
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
  width: 600px;
  border: 1px solid #000;
  margin-bottom: 10px;
  display: flex;
}

.상세정보버튼 {
  margin-left: 10px;
}


.팀원상세정보 {
  display: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  margin-bottom: 50px;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}



.팀원상세정보내용 {
  display: flex;
  align-items: center;
}

.팀원상세정보텍스트 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.팀원상세정보 img {
  order: -1;
  width: 100px;
  margin-right: 10px;
}


.textid {
  width: 1000px;
  margin: 250px auto 20px auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.secondbox {
  width: 1000px;
  margin: 20px auto 20px auto;

  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.card-body {
  width: 900px;
}

.secondboxbtn {
  padding: 50px;
}

.card-body>button {
  margin-right: 5px;
}

.title {
  margin-bottom: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}

.close {
  color: pink;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.up img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}