@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: white;
}
.header {
  color: #6a75ca;
  position: relative;
  height: 350px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eff2f8;
  padding: 20px;
}
.header h1 {
  font-size: 100px;
  margin-left: 240px;
  text-align: left;
}
.infoBox {
  background-color: white;
  color: #eff2f8;
  position: relative;
  height: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBox h3 {
  text-align: center;
  font-size: 30px;
}
.infoBox p {
  text-align: center;
  font-size: 20px;
}
.info {
  background-color: #6a75ca;
  padding: 20px;
  border-radius: 30px;
  width: 300px;
  height: 400px;
  margin: 20px;
}
.goals {
  background-color: #6a75ca;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin: 20px;
}
.goals li {
  font-size: 17px;
}
.rules {
  background-color: #6a75ca;
  padding: 20px;
  border-radius: 30px;
  width: 300px;
  height: 400px;
  margin: 20px;
}
.rules li {
  font-size: 17px;
}
.cardBox {
  height: 550px;
  position: relative;
  background-color: #eff2f8;
  padding-top: 60px;
}
.cardBox h3 {
  text-align: center;
}
.cardone {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.cardone img {
  background-color: white;
}
.cardone span {
  margin-top: 50px;
}
.cardtwo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.cardtwo img {
  background-color: white;
}
.card__noeul {
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.card__junseong {
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.card__mindo {
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.card__jooun {
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.card__soowon {
  width: 200px;
  margin: 10px;
  cursor: pointer;
}
.card__header img {
  border-radius: 20%;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}

.leader-info {
  margin-top: 40px;
  margin-left: 120px;
  width: 40px;
  font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.card__header figcaption {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.textid {
  width: 1000px;
  margin: 20px auto 20px auto;
  background-color: #6a75ca;
  padding: 10px;
  border-radius: 10px;
  padding-top: 25px;
  color: white;
}

.secondbox {
  width: 1000px;
  margin: 20px auto 20px auto;
  background-color: #6a75ca;
  padding: 10px;
  border-radius: 10px;
  padding-top: 25px;
}

.card-body {
  width: 900px;
}

.secondboxbtn {
  padding: 50px;
}

.card-body > button {
  margin-right: 5px;
}

.title {
  margin-bottom: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.backGroundBox {
  background-color: #eff2f8;
  height: 270px;
}

.팀원명박스 {
  width: 1000px;
  margin: 0px auto 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 아이템들을 세로 가운데 정렬 */
  position: relative;
}

.팀원명 {
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin: 20px 5px 10px 5px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.상세정보버튼 {
  margin-left: 100px;
}

.팀원상세정보 {
  display: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.팀원상세정보내용 {
  display: flex;
  align-items: center;
}

.팀원상세정보텍스트 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.팀원상세정보 img {
  order: -1;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border: 1px dotted black;
  border-radius: 10px;
}

.textid {
  width: 1000px;
  margin: 20px auto 20px auto;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.secondbox {
  width: 1000px;
  margin: 20px auto 20px auto;
  padding: 10px;
  border-radius: 5px;
  padding-top: 25px;
}

.card-body {
  width: 900px;
}

.secondboxbtn {
  padding: 50px;
}

.card-body > button {
  margin-right: 5px;
}

.title {
  margin-bottom: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  display: hide;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
}

.close {
  color: pink;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.up img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}