.header {
    height: 300px;
    width: 1000px;

    margin: 40px auto 20px auto;
    color: black;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: green;
    background-position: center;
    background-size: cover;
  }   
  .main{
    height: 700px;
    width: 1000px;

    margin: 30px auto 20px auto;
    padding: 20px;
    color: black;

    border: 1px solid black;
    border-radius: 5px;
    
    
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .cardBox{
    bottom: 20px;
    height: 500px;
    flex-direction: row;
    border: 5px dotted lightslategray;
    position: Absolute;
  }
  .card__header img {
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.05);
    width: 200px;
}
.card__contents h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
    text-align: center;
}
.textid {
    width: 1000px;
    margin: 20px auto 20px auto;
    
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    padding-top: 25px;
    }
    
    .secondbox {
    width: 1000px;
    margin: 20px auto 20px auto;
    
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    padding-top: 25px;
    }
    
    .card-body {
    width: 900px;
    }
    
    .secondboxbtn {
    padding: 50px;
    }
    
    .card-body>button {
    margin-right: 5px;
    }
    
    .title {
    margin-bottom: 25px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
    .팀원명박스 {
        width: 600px;
        margin: 5px auto 5px auto;
      }
   
      .팀원명 {
        background-color: transparent;
        padding: 3px;
        border-radius: 5px;
        width: 600px;
        border: 1px solid #000;
        margin-bottom: 10px;
        display: flex;
      }
   
      .상세정보버튼 {
        margin-left: 10px;
      }
   
   
      .팀원상세정보 {
        display: none;
        background-color: transparent;
        padding: 10px;
        border-radius: 5px;
        width: 600px;
        border: 1px solid #000;
        margin-bottom: 5px;
        align-items: center;
      }
   
      .팀원상세정보내용 {
        display: flex;
        align-items: center;
      }
   
      .팀원상세정보텍스트 {
       flex: 1;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
     }
     
     .팀원상세정보 img {
       order: -1;
       width: 100px;
       margin-right: 10px;
     }
      
    
      .textid {
        width: 1000px;
        margin: 20px auto 20px auto;
    
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        padding-top: 25px;
      }
    
      .secondbox {
        width: 1000px;
        margin: 20px auto 20px auto;
    
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        padding-top: 25px;
      }
    
      .card-body {
        width: 900px;
      }
    
      .secondboxbtn {
        padding: 50px;
      }
    
      .card-body>button {
        margin-right: 5px;
      }
    
      .title {
        margin-bottom: 25px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }